__pycache__/
*.py[cod]
*$py.class
.env
.pytest_cache

.vscode

yarn-debug.log*
yarn-error.log*

node_modules/
dist
**/*/logs/*
uploads/*
api/static/*
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

benchmarks.md
.cache


processor-schema.json
!/**/.gitkeep


worker/app/tests/fixtures
!/worker/app/tests/fixtures/brief-sample-audio