__pycache__/
*.py[cod]
*$py.class
.env
.pytest_cache

.vscode

yarn-debug.log*
yarn-error.log*

node_modules/
dist
**/*/logs/*
uploads/*
api/static/*
postgres/data
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

benchmarks.md
.cache